.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
}

.btn{
    width: 90%;
}

.listView{
    width: 90%;
    height: 370px;
    background-color: #000;
    position: relative;
}

.listView input{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.fileDetails{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.fileDetails p{
    margin: 2rem 0;
    margin-top: 0.5rem;
}

.addFiles{
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.addFiles img{
    height: 100px;
    margin-bottom: 0.6rem;
}

.addFiles p{
    font-weight: bold;
    text-align: center;
}

.addFiles p span{
    display: block;
    font-weight: normal;
}

.singleFile{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-self: center;
}

.singleFile p{
    margin: auto 0;
    margin-left: 1rem;
}

.singleFile img{
    height: 40px;
}

.filesList{
    position: relative;
    z-index: 100;
    height: 100%;
    overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
    .fileDetails{
        width: 98%;
        display: flex;
        justify-content: space-between;
    }
    .listView{
        margin-top: -50px;
        width: 98%;
        height: 370px;
        background-color: #000;
        position: relative;
    }
    .btn{
        width: 98%;
    }
}

.progress{
    width: 90%;
    height: 30px;
}